<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    {{ if .ShareDescription }}
    <meta name="description" content="{{ .ShareDescription }}" />
    <meta property="og:description" content="{{ .ShareDescription }}" />
    {{ else }}
    <meta
        name="description"
        content="JapTap Kirtan (2025–2026) – Gurbani shabads and samagam recordings for the sangat, accessible on any device."
    />
    <meta property="og:description" content="JapTap Kirtan (2025–2026) – Gurbani shabads and samagam recordings for the sangat, accessible on any device." />
    {{ end }}
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/android-chrome-192x192.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5b5fd5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--
      manifest.webmanifest provides metadata used when your web app is installed on a
      user's mobile device or desktop. See https://developers.google.com/web/fundamentals/web-app-manifest/
    -->
    <link rel="manifest" href="./manifest.webmanifest" />
    <meta property="og:site_name" content="Jap Tap Samagams - Gurbani Kirtan">
    <meta property="og:url" content="{{ .ShareURL }}">
    {{ if .ShareDescription }}
    <meta property="og:title" content="{{ .ShareDescription }}">
    {{ else }}
    <meta property="og:title" content="Jap Tap Samagams">
    {{ end }}

    <meta property="og:image" content="{{ .ShareImageURL }}">
    <meta property="og:image:width" content="300">
    <meta property="og:image:height" content="300">
    <title>Jap Tap Samagams</title>
    <script>
      window.__APP_CONFIG__ = {{ .AppConfig }}
    </script>
    <script>
      window.__SHARE_INFO__ = {{ .ShareInfo }}
    </script>
  </head>
  <body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="root"></div>
  </body>
  <script type="module" src="/src/index.jsx?v=2024092301"></script>
</html>
